@font-face {
    font-family: Futura;
    src: url("fonts/Futura-Bold.otf");
}

@font-face {
    font-family: Futura-Bold;
    src: url("fonts/Futura-Bold.otf");
}

@font-face {
    font-family: Gotham;
    src: url("fonts/Gotham-Light.otf");
}

@font-face {
    font-family: Gotham-Bold;
    src: url("fonts/Gotham-bold.otf");
}

@media (max-device-width: 640px) {

  .title h1 {
    font-size: 35px !important;
    letter-spacing: 1px !important;
  }

  .contact .catch-up span {
    font-size: 8px !important;
  }

}

@media (max-width: 1250px) {

  .schedule .week {
    width: auto !important;
    float: none !important;
  }
}
@media (max-width: 994px) {

  .title h1 {
    font-size: 45px !important;
    padding-left: 15px;
    /*margin-top: 15px;*/
    letter-spacing: 1.5px !important;
  }

  .contact {
    height: 760px !important;
    padding: 10px !important;
  }

  .contact .info {
    margin-top: 0px !important;
  }

  .contact .info h2 {
    font-size: 22px;
  }

  .contact .info .beta-class {
    font-size: 12px;
    letter-spacing: 1.4px;
  }

  .contact .send .info .place {
      font-size: 16px !important;
  }

  .contact .target {
    margin-top: 30px !important;
    text-align: left !important;
    font-size: 12px !important;
  }

  .contact .catch-up {
    margin-top: 0px !important;
  }

  .contact .catch-up span {
    font-size: 12px !important;
  }

  .contact .send {
    margin-top: 15px !important;
  }

  .thankyou_message {
    /*margin-top: 10px !important;*/
    width: 100% !important;
  }

  .logo {
    margin: 40px 0 10px 0;
  }

}

@media (min-width: 994px) {
  .hide-on-med-and-down-square {
    padding-left: 0 !important;
  }

}
body {
  font-family: 'Roboto', sans-serif;
}

aside {
    background: #1f8dd6; /* same color as selected state on site menu */
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 2em;
}

textarea {
  width: 100%;
}

.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}

.is-center {
  text-align: center;
}

.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65); /* this is a green */
}

.button-xlarge {
  font-size: 125%;
}

button {
  float: right;
}


#diogo {
  background-image: url("img/diogo.jpg");
}

.header {
  background-image: url("img/header-bg-min.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  height: 730px;
}

.title h1 {
  font-family: Futura;
  font-size: 48px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 2px;
	text-align: left;
  color: #ffffff;
  margin-top: 12px;
}

.logo {
  max-width: 172px;
}

.contact {
  height: 552px;
  margin: auto;
  position: relative;
  top: -170px;
  background-color: #0a2233;
	box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
}

.contact .box-send-mail {
  margin: auto;
  display: block;
}

.contact .target {
  font-family: Gotham;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 4px;
  text-align: center;
  color: #999999;
  margin-top: 90px;
  text-transform: uppercase;
}

.contact .info {
  margin-top: 100px;
}

.contact .catch-up {
  margin-top: 77px;
}

.contact .catch-up .share-bar {
  margin-top: 15px;
}

.contact .catch-up, .contact .info {
  /*margin-top: 100px;*/
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: -0.6px;
  text-align: left;
  color: #ffffff;
  font-family: Gotham;
}

.info h2 {
  font-family: Gotham-Bold;
  font-size: 29px;
  text-transform: uppercase;
}

.info .beta-class {
  font-family: Gotham;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3px;
  color: #00b6f3;
  text-transform: uppercase;
}

.contact .send .info .place {
  margin-top: 20px;
  font-family: Gotham;
  font-size: 19px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #FFF;
  text-transform: uppercase;
}

span.value {
  line-height: 25px;
}

.contact .catch-up span {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.5px;
  text-align: left;
  color: #1c5880;
}

.contact .catch-up span h4 {
  font-weight: bold;
  font-size: 17px;
  margin: 0;
  display: inline;
}

.contact .send {
  /*margin-top: 118px;*/
}

.contact .send .info p {
  margin: 0px;
}

.contact .send label {
  font-family: Gotham;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: -0.5px;
  color: #ffffff;
}

.contact .send input {
  background-color: #0a2333;
  border: none;
  border-bottom: 1px solid #00bfff;
  border-radius: 0px !important;
  box-shadow: none;
  outline: none;
  padding: 5px 0;
}

.contact .send input:focus {
  border-bottom: 1px solid #00bfff !important;
  color: white;
}

.sign-area .detail {
  color: #1c5880;
  display: block;
  margin: 5px 0 0 0;
  padding: 0;
  text-transform: uppercase;
  width: 100% !important;
}

.col.l12.sign-area {
  margin-left: -10px;
}

.contact .send .sign {
  background-color: #00b6f3;
  border-radius: 1px;
  border: solid 1px #00b6f3;
  color: #ffffff;
  display: inline-block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  letter-spacing: -0.5px;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  width: 220px;
  font-family: Gotham;
  font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.43;
	letter-spacing: -0.5px;
}

.contact .send button.sign:hover {
  background-color: #0e2c40;
}

.schedule {
  position: relative;
  top: -100px;
}

.schedule p {
  font-family: Gotham;
}

.schedule .tabs .tab:nth-child(2) {
  float: right;
}

.schedule .tabs .tab:nth-child(1) {
  float: left;
}
.schedule .tabs .tab a {
  color: #0a2233;
  padding: 0px;
}

.schedule .tabs .indicator {
  background-color: #666;
}

.schedule ol {
  list-style: none;
  padding: 0 !important;
}

.schedule h2 {
  margin: 0px;
  height: 62px;
  font-size: 48px;
  line-height: normal;
  letter-spacing: 1px;
  font-family: Futura-Bold;
  text-align: left;
  text-transform: uppercase;
  color: #333;
}

.schedule h3 {
  color: #111;
  font-size: 20px;
  font-weight: bold;
}

.schedule .week {
  position: relative;
  float: left;
  width: 426px;
  background: #fff;
  height: 277px;
  margin: 0 0 20px 0;
  padding: 30px;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
  border-radius: 3px;
}

.schedule .week ul {
  position: relative;
  margin: 30px 0 0 0;
  color: #777;
  line-height: 2;
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: #0a2233;
  padding-left: 40px;
}

.schedule .week:nth-child(even) {
  float: right;
}

.us {
  margin: auto;
  top: -60px;
  position: relative;
}

.us h2 {
  height: 62px;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -1.8px;
  text-align: left;
  text-transform: uppercase;
  color: #0b2333;
}

.us .coach {
  background-color: #0b2333;
  min-height: 469px;
  height: 100%;
  opacity: 0.5;
  padding: 0 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-bottom: 10px;
}

.us .coach h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.6px;
  margin-bottom: 8px;
  margin-top: 0px;
  padding-top: 64px;
  text-align: center;
  color: #ffffff;
}

.us .coach span {
  display: block;
  font-size: 16px;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
}

.show-off {
  color: #525252;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -0.8px;
  position: relative;
  top: -13px;
}

.square {
	width: 8px;
	height: 8px;
	background-color: #10344c;
  display: inline-block;
  margin: 20 auto;
}

.square-space {
  padding-left: 20px;
}

.thankyou_message {
  background-color: #fff;
  width: 402px;
  height: 320px;
  margin-top: -50px;
  color: #0b2333;
  font-family: Gotham;
  font-size: 18px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.56;
	letter-spacing: -0.7px;
	text-align: left;
}

.thankyou_message p {
  padding: 45px;
}

.top-size {
  margin-top: 187px;
}

.input-field {
  margin-top: 0px;
  max-width: 100%;
}

.progress {
  background-color: #00b6f3;
}

.progress .indeterminate {
  background-color: #0e2c40;
}

.card .card-image {
  height: 300px;
  overflow: hidden;
}

.card .card-image img {
  float:right;
  height:auto;
}

.card .card-title {
  font-weight: 400;
}
